mat-toolbar {
  display: flex;
  align-items: center;

  padding-left: 70px;
  padding-right: 70px;
  font-family: 'Questrial', sans-serif;
}

#title {
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

.fill-remaining-gap {
  flex: 1 1 auto
}

#converter-switch-container {
  width: 80px;
}
