<mat-toolbar>
    <img alt="logo" src="assets/img/logo.ico">
    <span id="title">{{title}}</span>

    <span class="fill-remaining-gap"></span>

    <div id="converter-switch-container">
        <mat-slide-toggle (ngModelChange)="switchChange.emit($event)" [ngModel]="converting"
                          matTooltip="Control + Space">
            {{ converting ? 'On' : 'Off' }}
        </mat-slide-toggle>
    </div>

    <div id="converter-help-container">
        <app-help></app-help>
    </div>
</mat-toolbar>
