<mat-toolbar>
    <a href="https://www.facebook.com/s1n7ax" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>

    <a href="https://twitter.com/s1n7ax" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.linkedin.com/in/srinesh-nisala/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://github.com/s1n7ax/open-unicode-converer" target="_blank">
        <i class="fab fa-github"></i>
    </a>

    <a href="https://gitlab.com/s1n7ax" target="_blank">
        <i class="fab fa-gitlab"></i>
    </a>
</mat-toolbar>
