mat-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.fab {
  height: 15px;
  width: 15px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  background: rgba(36, 38, 37, 0.95);
  opacity: 0.9;
  color: white;
}

.fab:hover {
  opacity: 1;
}

.fa-facebook-f:hover {
  background: #3B5998;
}

.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

.fa-linkedin-in:hover {
  background: #007bb5;
  color: white;
}

.fa-youtube:hover {
  background: #bb0000;
  color: white;
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}

.fa-github:hover {
  background: #25292C;
  color: white;
}

.fa-gitlab:hover {
  background: #291C48;
  color: #E1422D;
}
